.card{
        height:200px;
        width: 200px;
        border: 2px solid black;
       border-radius: 5px;
       box-shadow: 2px 4px 20px black;
       display: inline-block;

       margin-right: 20px;
}
       
.desc{
        padding: 0 2px 0 2px;
}
img{
        width: 100%;
        border-radius: 5px 5px 0 0; ;
}
.card:hover{
        box-shadow: 0 8px 40px rgb(31, 28, 28);

}